@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@font-face {
  font-family: "Proxima Nova";
  src: url("../../public/font/Proxima-Nova-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}


.redHatDisplay{
  font-family: "Red Hat Display", sans-serif;

}
:root {
  --brand-color: #222222;
}

html, body {
    font-family: "Proxima Nova";
    color: var(--brand-color);
}

