@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');
@import "tailwindcss";
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
  font-display: swap;
}

:root {
  --brand-color: #222222;
}

html, body {
  font-family: "Proxima Nova", "Red Hat Display", sans-serif;
  color: var(--brand-color);
}

